/* Styles for the Advanced Markup assignment. */

nav ul li {
  display: inline;
}
a.active {
  font-weight: bold;
}
#sidebar {
  width: 250px;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}
div#poemcontent {
  background: lightgray;
  width: 500px;
  border-radius: 5px;
  line-height: 1.8;
  font-size: large;
  padding: 20px;
  padding-right: 50px;
  text-align: center;
  margin: 80px;
  overflow: auto;
}
ul.poem /*index.html*/ {
  list-style-type: none;
}
p.bio-photo /*about-poe.html*/ {
  float: left;
  background: lightgray;
  padding: 20px;
  text-align: center;
  line-height: 1.8;
  margin-right: 30px;
  border-radius: 5px;
}
img {
  width: 150px;
  height: auto;
}
section#content {
  overflow: auto;
}
caption {
  padding: 10px;
}
table {
  border: 1px solid black;
  margin: 30px;
}
th {
  border: 1px solid black;
  text-align: center;
  vertical-align: bottom;
  width: 200px;
}
td {
  border: 1px solid black;
  height: 50px;
  vertical-align: bottom;
}
table {
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
footer {
  clear: both;
}

